# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# mac system files
.DS_Store
Air_Hockey.xcodeproj/project.xcworkspace/xcuserdata
Air_Hockey.xcodeproj/xcuserdata
