# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# mac system files
.DS_Store
Air\ Hockey.xcodeproj/project.xcworkspace/xcuserdata/ad-in.xcuserdatad/UserInterfaceState.xcuserstate
Air\ Hockey.xcodeproj/project.xcworkspace/xcuserdata/lai-c.xcuserdatad/
Air\ Hockey.xcodeproj/xcuserdata/lai-c.xcuserdatad/
